{% extends 'base.html' %}
{% block content %}
<main class="container mt-3 mb-5">
	<!-- featured news -->
	<div class="row my-3">
		<!-- Left -->
		<div class="col-md-8" style="margin-left: 200px">
			<div class="card mb-3 bg-info">
                <img src="/media/{{products.image}}" class="card-img-top" alt="{{products.title}}">
			  <div class="card-body">
			    <h5 class="card-title">{{products.title}}</h5>
			    <hr/>
			    <p class="card-text">{{products.content}}</p>
                  <hr/>
                <p class="card-text">{{ products.price }} руб.</p>
			  </div>
			  <div class="card-footer">
			  	In <a class="text-white" href="/category/{{products.category.id}}">{{products.category.title}}</a>
			  </div>
			</div>

			<!-- Comments -->
			<div class="card my-4">
				<h6 class="card-header bg-info">Add Comment</h6>
				<div class="card-body bg-info">
					{% for message in messages %}
					<p class="text-success">{{message}}</p>
					{% endfor %}
					<form method="post" action="/detail/{{products.id}}">
						{% csrf_token %}
						<div class="form-group row">
							<label class="col-md-2">Name<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="text" name="name" required class="form-control bg-info" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Email<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<input type="temailext" name="email" required class="form-control bg-info" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2">Comment<span class="text-danger">*</span></label>
							<div class="col-md-10">
								<textarea class="form-control bg-info" name="message" required></textarea>
							</div>
						</div>
						<input type="submit" class="btn btn-primary btn-success" />
					</form>
				</div>
			</div>
			<!-- Previous Comments -->
			<div class="card my-4">
				<h6 class="card-header bg-info">Comments</h6>
				<div class="card-body bg-info">
					{% for comment in comments %}
					<blockquote class="blockquote text-right">
					  <p class="mb-0 text-dark">{{comment.content}}</p>
					  <footer class="blockquote-footer text-white">{{comment.title}} <cite title="Source Title">{{comment.email}}</cite></footer>
					</blockquote>
					<hr/>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}